.message {
  background-color: rgb(91, 91, 255);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  align-self: baseline;
  margin: 5px 0px;
  border-radius: 16px;
  padding: 5px 15px;
}



.message__like {
  width: auto;
  height: 16px;
  padding-left: 10px;
  cursor: pointer;
}
